html,body {
  font-family: 'Signika', sans-serif;
  background: url("../images/bg.jpg") center no-repeat;
  height: 100%;
  background-size: cover;
}


ul{
  list-style: none;
}


.box {
  position: absolute;
  top:30%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.36);
  box-shadow: 0 1px 2px rgba(0,0,0,.30);
  border-radius: 4px;
  width: 525px;
  height: 250px;
}


.today{

  font-family: 'Signika', sans-serif;
  color: #222;
  font-size: 35px;
  padding-top: 15px;
  padding-left: 40px;
}

#size{
  font-size: 40px !important;
  padding-left: 50px;
  padding-top: 70px;
}

.city{
  margin-left: 160px;
  margin-top: -60px;
  padding-bottom: 24px;
  font-size: 20px;
}

.weather{
  margin-left: 255px;
  margin-top: -44px;
  padding-bottom: 25px;
  font-size: 20px;
}

.size-cel{
  font-size: 30px !important;
}

.celcius {

margin-left: 155px;
margin-top: 0px;
font-size: 40px;
font-weight: bold;

}

.time{
  margin-left: 145px;

margin-top: -50px;
padding-bottom: 5px;
font-size: 15px;
}


.date{
  margin-left: 140px;
}

.carousel-item{
  height: 100%;
}